* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --------------------------------------------------heading------------------------------ */

.heading {
    /* border: 1px solid red; */
    color: #535c68;
    box-shadow: 3px 0px 10px 2px grey;
    text-align: center;
    padding: 6px;
    font-size: 18px;
}


/* ------------------------------------------------content--------------------------------------- */

.img img {
    position: absolute;
    /* z-index: -20; */
    opacity: 0.3;
    height: 230vh;
    width: 100%;
}

.content {
    height: 200vh;
    width: 100%;
    background-color: #fff;
}

.con1 {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 17px;
    word-spacing: 2px;
}

.button {
    box-shadow: 4px 5px 9px 2px #c7ecee, 4px 5px 9px 2px #c7ecee, 4px 5px 9px 2px #c7ecee, 4px 5px 9px 2px #c7ecee;
    padding: 9px 25px;
    font-size: 18px;
    font-weight: 800;
    /* margin-left: 150px; */
    margin-bottom: 30px;
    margin-top: 60px;
}

.container1 {
    width: 80%;
    height: 200px;
    background-size: cover;
    box-shadow: 20px 20px 90px 5px #fff, 20px 20px 90px 5px #fff, 20px 20px 90px 5px #fff, 20px 20px 90px 5px #fff;
    background-position: center;
    /* transition: transform 2s; */
}

.container1:hover {
    /* transform:scale(1.1); */
}

.button:hover {
    box-shadow: -20px -30px 90px -20px #c7ecee, -20px -30px 90px -20px #c7ecee, -2px -3px 9px -2px #c7ecee, -2px -3px 9px -2px #c7ecee;
    transition: 0.4s linear;
}

@media only screen and (max-width:1365px) {
    .img img {
        height: 280vh;
    }
}

@media only screen and (max-width:993px) {
    .img img {
        height: 300vh;
    }
}

@media only screen and (max-width:768px) {
    .content {
        height: 400vh;
    }
    .img img {
        height: 430vh;
    }
}

@media only screen and (max-width:627px) {
    .container1 {
        margin-left: -5px;
    }
    .con1 {
        margin-left: -15px;
    }
}